extends layout

block content
  h1 Mobile API proxy service.
  ul.lead
    li No more re-compile your app when you want to switch api target.
    li Control your API returned value - mock what you need on the fly.